body {
	font-family: 'Roboto',Arial,sans-serif;
}
.container {
	display: flex;
	flex-direction: column;
	max-width: 650px;
	margin: 0 auto;
}
h1
{
	max-width: 90%;
	margin: 0 auto;
	font-size: 62px;
	font-weight: 600;
	color: #000;
	text-align: center;
}

h1,
p,
.verification {
	margin-top: 3rem;
}

p {
	width: 100%;
	box-sizing: content-box;
	font-size: 18px;
	font-weight: 300;
	color: #000;
	-webkit-font-smoothing: antialiased;
	line-height: 36px;
	text-align: center;
}

.verification {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.number {
	margin: 0;
	height: 60px;
	padding: 0 20px;
	font-size: 16px;
	line-height: 1.33;
	width: 45%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	background-color: transparent;
	-webkit-appearance: none;
	border: 1px solid #000000;
	border-radius: 0;
	color: #000000;
}

.button_confirm {
	width: 30%;
	text-align: center;
	height: 60px;
	border: 0 none;
	font-size: 16px;
	padding-left: 60px;
	padding-right: 60px;
	-webkit-appearance: none;
	font-weight: 700;
	white-space: nowrap;
	cursor: pointer;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	color: #ffffff;
	background-color: #f98500;
}

.button_back {
	margin: 0 auto;
	margin-top: 3rem;
	padding-top: 1.3rem;
	width: 30%;
	text-align: center;
	height: 60px;
	border: 0 none;
	font-size: 16px;
	-webkit-appearance: none;
	font-weight: 700;
	white-space: nowrap;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
}

.dev-success {
	font-size: 62px;
	font-weight: 600;
	color: rgba(155,196,20,0.8);
	text-align: center;
}

.dev-danger {
	font-size: 62px;
	font-weight: 600;
	color: #ff3300;
	text-align: center;
}

